[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
colorlog = "*"
lxml = "*"
mistune = "*"
raven = "*"
yarl = "*"
pyppeteer = "*"
quart = "*"
aiohttp = "*"
motor = "*"

[dev-packages]
loglette = "*"
python-dateutil = "*"
pyyaml = "*"
codecov = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
